@import "@penpot/plugin-styles/styles.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* custom */

.app {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-flow: row;
  max-width: 1024px;
  margin: auto;
}

.size-label {
  font-weight: 400;
  line-height: 16px;
  padding: 0 4px;
  border-radius: 4px;
  position: absolute;
  z-index: 5;
  bottom: 8px;
  left: 8px;
  font-size: 11px;
}

.divider {
  display: block;
  margin: 16px -20px;
}

.form {
  display: flex;
  flex-flow: column;
  width: 260px;
  height: 600px;
}

.fields {
  padding: 20px 20px 24px;
  height: 600px;
  overflow: scroll;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
  gap: 8px;
}

.counter-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}

.value-span {
  margin-left: 4px;
  font-weight: 600;
}

.unit-span {
  margin-left: -2px;
}

.slider-disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* Css Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

select,
input {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

input[type="color"] {
  padding: 2px 4px;
}

.fields > div {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 4px;
}

.block label {
  display: block;
  margin-bottom: -8px;
}

.light-range {
  accent-color: var(--la-primary);
}
.dark-range {
  accent-color: var(--da-primary);
}

.checkbox-custom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--spacing-8);
  align-items: center;
}

.checkbox-custom label {
  margin: 0;
}

.checkbox-container .checkbox-input[type="checkbox"]:after {
  margin-block-start: -6px;
  margin-inline-start: -2px;
}
